*
!.gitignore
!www/
!www/index.html
www/*/
!www/js/
www/js/*
!www/mods/
!www/mods/*
!www/mods/**
www/mods/
www/mods/multiplayer.js
www/mods/multiplayer.json
www/mods/_multiplayer\*
www/mods/_multiplayer\**